<script>
    window["aa163"] = {
        indice: "aa163",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa163").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });



            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="template4 containerAA163">

    <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85">
        <img src="includes/img/tela127.jpg" alt="">
    </div>

    <div class="texto posicionar branco animated fadeIn delay0_4" px="40" py="150">
        <div>
            <div class="icoX">
                <div class="ico ico14 animated zoomIn delay0_4"></div>
            </div>
            <div class="tx animated fadeInRight delay0_4">
                SEGURO DE CANCELAMENTO DE VIAGEM
            </div>
            <div class="size22 light pb10 animated fadeInRight delay0_6">
                Cancelar uma viagem é ruim. Lidar com as consequências pode ser ainda pior. Pensando nisso, Visa tem cobertura que pode compensar as despesas do cliente com serviços e passagens.
            </div>
        </div>
    </div>

</div>