<script>
    window["aa130"] = {
        indice: "aa130",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa130").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });

            //
            _containerTela.find(".pop").css('display', 'none');
            if (_tela.status == false) {
                _tela.status = true;

                _containerTela.find(".btnTabela").on('click', function() {
                    _containerTela.find(".pop").css('display', 'flex');
                });
                _containerTela.find(".closeX").on('click', function() {
                    _containerTela.find(".pop").css('display', 'none');
                });

            } else {

            }
        }
    })
</script>


<div class="template5 containerAA130">

    <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85">
        <div class="baseTxt branco">
            <!-- <div class="tx t1">Sala Vip</div> -->
            <div class="tx2 t2">Regras Oficiais</div>
        </div>

    </div>

    <div class="texto posicionar animated fadeIn delay0_4 cinza2 size16" px="00" py="450">
        <div class="bloco bloco2">
            <ul>
                <li>
                    portador de cartão deve ter pago a passagem com um cartão Visa elegível ou ter pago as taxas de embarque com Visa, no caso da emissão da passagem com pontos.
                </li>
                <li>
                    Viagens internacionais com até 60 dias consecutivos.
                </li>
                <li class="size15">
                    Para estar segurado pelos benefícios de viagem dos cartões Visa, é necessário:<br>a) o valor total das passagens tenha sido pago com um Cartão Visa; ou <br>b) as passagens tenham sido compradas mediante resgate de pontos em programas
                    de fidelidade, desde que as taxas de embarque e eventuais impostos devidos tenham sido pagos com um Cartão Visa; ou <br>c) não havendo incidência de taxas de embarque ou impostos, somente as passagens tenham sido compradas mediante
                    resgate de pontos obtidos pela utilização do Cartão Visa.
                </li>

            </ul>
        </div>
        <div class="bloco bloco2">
            <ul>
                <li>
                    Estão segurados pelo benefício o portador e qualquer pessoa para quem o portador de cartão comprar uma passagem de viagem com seu cartão Visa elegível.
                </li>
                <li>
                    Cônjuge/companheiro(a) ou Dependente Econômico não precisam estar viajando juntos para estarem segurados.
                </li>
                <li>
                    É necessária a emissão do bilhete de seguro no Portal de Benefícios:<br>
                    <a href="https://visabenefitslac.axa-assistance.us/" target="_blank">www.visa.com.br/portaldebeneficios</a>
                </li>

                <li class="removeLi">
                    <div class="btnTabela size30 animated infinite pulse">
                        Limites
                    </div>
                </li>

            </ul>
        </div>

        <!-- <div class="bloco bloco2">
            <ul>
                <li>
                    Cobertura até 60 dias consecutivos de viagem. 
                </li>
                <li>
                    A cobertura é ativada assim que o segurado desembarcar da 
                    embarcação de transporte comum no destino final de viagem 
                    (conforme designado no bilhete) e expirar assim que o segurado 
                    embarcar em uma embarcação de transporte comum para retornar 
                    (perna de ida e volta no bilhete).
                </li>
               
            </ul>
        </div> -->
        <!-- <div class="bloco">
            <ul>
                <li>
                    A oferta do produto com o preço inferior deve estar dentro 
                    de 100km do local da compra em que o produto foi adquirido. 
                </li>
                <li>
                    Para anúncios de internet, não serão válidas comparações 
                    para itens encontrados em sites de leilão. 
                </li>
            </ul>
        </div>
        <div class="bloco">
            <ul>
                <li>
                    Para anúncios impressos, cópia do anúncio publicado ou postado após a data de compra, que apresenta o preço inferior ao originalmente pago. 
                </li>
                <li>
                    A oferta do produto com o preço inferior deve estar no mesmo país onde o item foi originalmente comprado.
                </li>
            </ul>
        </div> -->
    </div>

    <div class="pop posicionar animated fadeIn delay0_2" px="0" py="85">
        <div class="baseClose">
            <div class="closeX">
                <i class="far fa-times-circle size40 animated zoomIn delay1_2"></i>
            </div>
        </div>
        <div class="tabela">
            <img src="includes/img/tabela130.png" alt="">
        </div>
    </div>

</div>