<script>
        window["aa44"] = {
            indice: "aa44",
            status: false
        }
    
        $("body").on('navegacaoComplete', function() {
    
            if ((course.config[course.indice].id).toUpperCase() == ("aa44").toUpperCase()) {
    
                var _tela = window[course.config[course.indice].id];
                var _containerTela = $(".container" + (_tela.indice).toUpperCase());
    
                //posiciona o elemento com base no tamanho real da imagem de fundo COVER
                _containerTela.find(".posicionar").positionCSS({
                    img_H: course.height,
                    img_W: course.width
                });
    
    
    
                if (_tela.status == false) {
                    _tela.status = true;
    
                    
    
                } else {
    
                }
            }
        })
    </script>
    
    
    <div class="template3 containerAA44">
    
        <div class="leftCont posicionar animated fadeIn delay0_2" px="0" py="85">
            <div class="text1 branco">
                <div class="tx size40 animated fadeInUp delay0_4">
                    QUADRO DE REFERÊNCIA
                </div>
                <div class="sub1 size20 light animated fadeIn delay0_8">
                    Viajar para outra cidade ou país, alugar um carro e ter 
                    problemas com ele. Este pesadelo passa longe dos clientes Visa. 
                    Protegemos o veículo alugado e até os itens comprados com Visa 
                    e deixados dentro dele. Mesmo! 
                </div>
            </div>
        </div>
    
    
        <div class="cartaoBase posicionar animated fadeIn delay1_0" px="20" py='425'>
            <div class="azulEscuro ml20 mb2 size22">
                Disponível nos seguintes produtos:
            </div>
            <div class="cartaoD">
    
                <div class="carT">
                    <div class="cartao cartao1 animated zoomIn delay1_4">
                        <div class="img"></div>
                        <div class="color border_gold"></div>  
                    </div>
                    <div class="cartao cartao2 animated zoomIn delay1_5">
                        <div class="img"></div>
                        <div class="color border_platinum"></div>  
                    </div>
                    <div class="cartao cartao3 animated zoomIn delay1_6">
                        <div class="img"></div>
                        <div class="color border_infinit"></div>  
                    </div>
                </div>
    
    
                <div class="carT">
                    <div class="cartao cartao4 animated zoomIn delay1_7">
                        <div class="img"></div>
                        <div class="color border_debito"></div>  
                    </div>
                    <div class="cartao cartao5 animated zoomIn delay1_8">
                        <div class="img"></div>
                        <div class="color border_classic"></div>  
                    </div>
                    <div class="cartao cartao6 animated zoomIn delay1_9">
                        <div class="img"></div>
                        <div class="color border_pj"></div>  
                    </div>
                </div>
                
               
            </div>
    
        </div>
    
        <div class="tit posicionar animated fadeIn delay1_2 size20" px="682" py='105'>
            <div class="titulo azul size30 book">
                Mas, como eu vendo isso?
            </div>
        </div>
    
        <div class="baseRight posicionar animated fadeIn delay1_2 size18" px="652" py='85'>
            <div class="item1">
                <div class="ico1"></div>
                <span class="bold">Faça uma abordagem assertiva e direta:</span> 
                <span>
                    “Desejos impossíveis se tornam possíveis. 
                    Não sabe como resolver? Chama o Visa Concierge!“
                </span>
            </div>
            <div class="item2">
                <div class="ico2"></div>
                <span class="bold">Explique com mais detalhes:</span> 
                “O Visa Concierge é um serviço de assistente pessoal para ajudar 
                os clientes Visa Platinum e Visa Infinite com pedidos e serviços 
                que podem ser comprados com o cartão Visa em qualquer lugar do mundo, 
                desde reserva de voos e indicações de restaurantes até compras 
                de presentes e itens difíceis de encontrar. ” 
            </div>
            <div class="item3">
                <div class="ico3"></div>
                <span class="bold">Elabore com argumentos:</span>
                “O Visa Concierge torna o atendimento pessoal ainda mais exclusivo. 
                É um modelo de relacionamento e serviços inovador, que 
                privilegia o seu bem-estar!”
            </div>
            <div class="item4">
                <div class="ico4"></div>
                <span class="bold">Feche a venda:</span> 
                “O seu cartão atual ainda não possui esse benefício, mas posso 
                ver que você ficou interessado, acho que está na hora de um upgrade!”
            </div>
            
        </div>
    
    </div>