<script>
    window["aa88"] = {
        indice: "aa88",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa88").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });



            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="template4 containerAA88">

    <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85">
        <img src="includes/img/tela34.jpg" alt="">
    </div>

    <div class="texto posicionar branco animated fadeIn delay0_4" px="40" py="150">
        <div>
            <div class="icoX">
                <div class="ico icoInf ico24 animated zoomIn delay0_4"></div>
            </div>
            <div class="tx animated fadeInRight delay0_4">
                Visa Airport Companion
            </div>
            <div class="size22 light pb10 animated fadeInRight delay0_6">
                Aeroportos são verdadeiras cidades, com produtos, serviços e experiências incríveis e muitas vezes desconhecidas. Pensando nisso, a Visa desenvolveu um aplicativo que guia o cliente por pilares como transporte, gastronomia, compras e salas vip. São dicas,
                promoções exclusivas, mimos e muito mais, tornando a viagem mais prazerosa.
            </div>
        </div>
    </div>

</div>