<script>
    window["aa100"] = {
        indice: "aa100",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa100").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });



            if (_tela.status == false) {
                _tela.status = true;

                _containerTela.find(".btnImportante").on('click', function() {
                    _containerTela.find(".pop").css('display', 'flex');
                });
                _containerTela.find(".closeX").on('click', function() {
                    _containerTela.find(".pop").css('display', 'none');
                });

            } else {

            }
        }
    })
</script>


<div class="template4 containerAA100">

    <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85">
        <img src="includes/img/tela100.jpg" alt="">
    </div>

    <div class="texto posicionar branco animated fadeIn delay0_4" px="40" py="150">
        <div>
            <div class="icoX">
                <div class="ico icoInf ico20 animated zoomIn delay0_4"></div>
            </div>
            <div class="tx animated fadeInRight delay0_4">
                ISENÇÃO DE RESPONSABILIDADE CORPORATIVA
            </div>
            <div class="size22 light pb10 animated fadeInRight delay0_6">
                As empresas são, muitas vezes, sujeitas à irresponsabilidade de profissionais. Pensando nisso, Visa oferece um benefício para proteger as empresas de algumas dessas situações.
            </div>
            <div class="animated fadeIn delay1_0">
                <div class="btnImportante size30 animated infinite pulse"></div>
            </div>
            <!-- o txt esta no css -->
        </div>
    </div>

    <div class="pop posicionar animated fadeIn delay0_2" px="0" py="85">
        <div class="popInit size18 azulEscuro">
            <div class="baseClose">
                <div class="closeX">
                    <i class="far fa-times-circle size40 animated zoomIn delay1_2"></i>
                </div>
            </div>
            <div>
                <span class="bold">Central de Atendimento Visa: Brasil 0800 891 3679 EUA/Canadá: 1 800 396 9665  Outros Países 1 303 967 1098</span><br><br> A Visa não é provedora dos seguros. Este seguro e sua correspondente cobertura são oferecidos
                pela AIG Seguros Brasil S/A, CNPJ/MF n.º 33.040.981/0001-50, aos portadores de Cartões Visa elegíveis no país onde a Visa tenha contratado essas coberturas. A Seguradora é responsável pela regulação do sinistro de acordo com os termos
                e condições da cobertura. A Visa não interfere na regulação do sinistro. Este documento contém uma descrição dos benefícios e não são apólices de seguro. O seguro está sujeito aos termos e condições gerais, limitações e exclusões da apólice
                contratada pela Visa, sendo possíveis alterações ou cancelamento dos termos e condições gerais do seguro.
                <br><br>
                <span class="bold size16">Consulte a totalidade das condições e restrições de cada benefício no Portal de Benefícios
                <a href="https://www.visa.com/portaldebeneficios" target="_blank">www.visa.com/portaldebeneficios</a></span>
            </div>
        </div>
    </div>

</div>