<script>
    window["aa122"] = {
        indice: "aa122",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa122").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });



            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="template3b containerAA122">

    <div class="leftCont posicionar animated fadeIn delay0_2" px="0" py="85">
        <div class="text1 branco">
            <div class="tx size40 animated fadeInUp delay0_4">
                QUADRO DE REFERÊNCIA
            </div>
            <div class="sub1 size20 light animated fadeIn delay0_8">
                As empresas são, muitas vezes, sujeitas à irresponsabilidade de maus profissionais. Pensando nisso, Visa criou um serviço para proteger as empresas de casos de corrupção e irresponsabilidade.
            </div>
        </div>
    </div>


    <div class="cartaoBase posicionar animated fadeIn delay1_0" px="20" py='425'>
        <div class="azulEscuro size22">
            Disponível nos seguintes produtos:
        </div>
        <div class="cartaoD">

            <div class="cartao">
                <div class="img"></div>
            </div>
            <!-- <div class="mt20 size22 bold azul">
                    Os cartões para esse benefício são:
                </div> -->
            <div class="lista size22">
                <ul>
                    <li>
                        <span class="item">VISA CARGO</span>
                    </li>
                    <li>
                        <span class="item">VISA CORPORATIVO INFINITE</span>
                    </li>
                </ul>

            </div>


        </div>

    </div>

    <div class="tit posicionar animated fadeIn delay1_2 size20" px="682" py='105'>
        <div class="titulo azul size30 book">
            Mas, como eu vendo isso?
        </div>
    </div>

    <div class="baseRight posicionar animated fadeIn delay1_2 size18" px="652" py='85'>
        <div class="item1">
            <div class="ico1"></div>
            <span class="bold">Faça uma abordagem assertiva e direta:</span>
            <span>
                    “Visa PJ ajuda a proteger em casos de assaltos e roubos em caixa eletrônico.”
                </span>
        </div>
        <div class="item2">
            <div class="ico2"></div>
            <span class="bold">Explique com mais detalhes:</span> “Se um portador de cartão for roubado ou assaltado durante ou até duas horas depois de usar um caixa eletrônico (ATM), a cobertura poderá ser fornecida para substituir o dinheiro roubado
            (retirado) para os cartões elegíveis."
        </div>
        <div class="item3">
            <div class="ico3"></div>
            <span class="bold">Elabore com argumentos:</span> “Visa PJ garante proteção a sua empresa e aos seus funcionários em viagens internacionais.“
        </div>
        <div class="item4">
            <div class="ico4"></div>
            <span class="bold">Feche a venda:</span> “Este benefício está presente no cartão que acabei de te oferecer, vamos fechar?”
        </div>

    </div>

</div>