<script>
    window["aa178"] = {
        indice: "aa178",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa178").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });

            //
            _containerTela.find(".pop").css('display', 'none');
            if (_tela.status == false) {
                _tela.status = true;

                _containerTela.find(".btnTabela").on('click', function() {
                    _containerTela.find(".pop").css('display', 'flex');
                });
                _containerTela.find(".closeX").on('click', function() {
                    _containerTela.find(".pop").css('display', 'none');
                });

            } else {

            }
        }
    })
</script>


<div class="template5 containerAA178">

    <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85">
        <div class="baseTxt branco">
            <!-- <div class="tx t1">Sala Vip</div> -->
            <div class="tx2 t2">Regras Oficiais</div>
        </div>

    </div>

    <div class="texto posicionar animated fadeIn delay0_4 cinza2 size15" px="00" py="450">
        <div class="bloco bloco2">
            <ul>
                <li>
                    Ter comprado uma passagem nacional ou internacional de um Transporte Público Autorizado com um cartão de crédito Visa emitido no Brasil.
                </li>
                <li>
                    Válido para voos domésticos e internacionais.
                </li>
                <li>
                    Cobertura válida a partir da apresentação do documento da empresa transportadora atestando os motivos pela perda de conexão.
                </li>
                <li>
                    Estão segurados pelo benefício o portador e qualquer pessoa para quem o portador de cartão comprar uma passagem de viagem com seu cartão Visa elegível.
                </li>
                <li>
                    É necessária a emissão do bilhete de seguro no Portal de Benefícios:<br>
                    <a href="https://visabenefitslac.axa-assistance.us/" target="_blank">www.visa.com.br/portaldebeneficios</a>
                </li>
            </ul>
        </div>
        <div class="bloco bloco2 size15">
            <ul>

                <li>
                    Cobertura complementar à indenização paga pela empresa de transporte.
                </li>
                <li>
                    Válido para todos os caminhos de uma viagem, mesmo quando retornando para casa.
                </li>

                <li>
                    Para estar segurado pelos benefícios de viagem dos cartões Visa, é necessário:<br><span class="bold">a)</span> o valor total das passagens tenha sido pago com um Cartão Visa; ou<br><span class="bold">b)</span> as passagens tenham sido
                    compradas mediante resgate de pontos em programas de fidelidade, desde que as taxas de embarque e eventuais impostos devidos tenham sido pagos com um Cartão Visa; ou<br><span class="bold">c)</span> não havendo incidência de taxas de
                    embarque ou impostos, somente as passagens tenham sido compradas mediante resgate de pontos obtidos pela utilização do Cartão Visa.
                </li>
            </ul>
        </div>


    </div>

    <div class="pop posicionar animated fadeIn delay0_2" px="0" py="85">
        <div class="baseClose">
            <div class="closeX">
                <i class="far fa-times-circle size40 animated zoomIn delay1_2"></i>
            </div>
        </div>
        <div class="tabela">
            <img src="includes/img/tabela130.png" alt="">
        </div>
    </div>

</div>