<script>
    window["aa110"] = {
        indice: "aa110",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa110").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });



            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="template3b containerAA110">

    <div class="leftCont posicionar animated fadeIn delay0_2" px="0" py="85">
        <div class="text1 branco">
            <div class="tx size40 animated fadeInUp delay0_4">
                QUADRO DE REFERÊNCIA
            </div>
            <div class="sub1 size20 light animated fadeIn delay0_8">
                Mesmo nos momentos mais dramáticos, Visa está ao lado do portador de cartão. Durante viagens de transporte público, garantimos indenizações em caso de morte acidental ou invalidez.
            </div>
        </div>
    </div>


    <div class="cartaoBase posicionar animated fadeIn delay1_0" px="20" py='425'>
        <div class="azulEscuro size22">
            Disponível nos seguintes produtos:
        </div>
        <div class="cartaoD">

            <div class="cartao">
                <div class="img"></div>
            </div>
            <!-- <div class="mt20 size22 bold azul">
                Os cartões para esse benefício são:
            </div> -->
            <div class="lista size22">
                <ul>
                    <li>
                        <span class="item">VISA CORPORATIVO REGULAR</span>
                    </li>
                    <li>
                        <span class="item">VISA CORPORATIVO PLUS</span>
                    </li>
                    <li>
                        <span class="item">VISA CORPORATIVO INFINITE</span>
                    </li>
                    <li>
                        <span class="item">VISA CTA AÉREO 100</span>
                    </li>
                    <li>
                        <span class="item">VISA CTA AÉREO 250</span>
                    </li>
                    <li>
                        <span class="item">VISA EMPRESARIAL T&E</span>
                    </li>
                    <li>
                        <span class="item">VISA EMPRESARIAL PLATINUM</span>
                    </li>
                    <li>
                        <span class="item">VISA EMPRESARIAL INFINITE</span>
                    </li>
                </ul>

            </div>


        </div>

    </div>

    <div class="tit posicionar animated fadeIn delay1_2 size20" px="682" py='105'>
        <div class="titulo azul size30 book">
            Mas, como eu vendo isso?
        </div>
    </div>

    <div class="baseRight posicionar animated fadeIn delay1_2 size18" px="652" py='85'>
        <div class="item1">
            <div class="ico1"></div>
            <span class="bold">Faça uma abordagem assertiva e direta:</span>
            <span>
                    “Visa oferece segurança adicional a quem viaja muito de trem, ônibus ou avião.”
                </span>
        </div>
        <div class="item2">
            <div class="ico2"></div>
            <span class="bold">Explique com mais detalhes:</span> “Cobertura por morte acidental ou invalidez permanente total ou parcial por acidente quando você está sob responsabilidade de uma empresa de transporte público autorizada.”
        </div>
        <div class="item3">
            <div class="ico3"></div>
            <span class="bold">Elabore com argumentos:</span> “Este benefício é essencial para quem está sempre de malas prontas. Por quê? O portador de cartão viaja com cobertura em caso de acidentes de ônibus, trem ou avião.”
        </div>
        <div class="item4">
            <div class="ico4"></div>
            <span class="bold">Feche a venda:</span> “Este benefício está presente no cartão que acabei de te oferecer, vamos fechar?”
        </div>

    </div>

</div>