<script>
    window["menu2"] = {
        indice: "menu2",
        status: false,
        menu: 2
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("menu2").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });

            controle();


            if (_tela.status == false) {
                _tela.status = true;

                _containerTela.find(".itD").on("click", function(event) {

                    var _telaM = $(this).attr('tela');
                    var _indice = 0;

                    $.each(course.config, function(indice, item) {

                        if (String(item.parentNivel1.id) == String(_telaM)) {
                            if (_indice == 0) {
                                _indice = item.indice;
                            }
                        }
                    });

                    course.indice = _indice;
                    $("body").attr("nav", "go");
                    $("body").trigger("navegacao");

                });



            } else {

            }

            function controle() {

                    _containerTela.find(".item .img").removeClass('animated infinite pulse');
                    _containerTela.find(".item .indicador").css('display','none');

                    var submenu = 0;
                    if( course.scorm_get_suspendData("submenu" + _tela.menu) ) {
                        submenu = parseInt(course.scorm_get_suspendData("submenu" + _tela.menu));
                        course.scorm_set_suspendData("sub_"+_tela.menu+"_"+submenu, 1);
                    }

                    var i = 0;
                    var all = _containerTela.find('.item').length;
                    var _comp = true;

                    while ( i < all ) {
                        i+=1;
                        if( course.scorm_get_suspendData("sub_"+_tela.menu+"_"+i) ){
                            _containerTela.find('.item' + i + ' .check' ).css('display', 'flex');
                        }
                        else{
                            _comp = false;
                        }
                    }

                    if( _comp ){
                        _containerTela.find(".quiz").css('display', 'block');
                    }


                    _containerTela.find(".item" + (submenu+1) + ' .img' ).addClass('animated infinite pulse');
                    //_containerTela.find(".item" + (submenu+1) + ' .indicador').css('display','block');

            }
        }
    })
</script>


<div class="containerMENU2">

    <div class="fundo posicionar animated fadeIn" px="0" py="85"> </div>

    <div class="estrela posicionar animated zoomOut delay0_4" px="0" py="95"></div>
    <div class="estrela posicionar animated zoomIn delay0_4" px="0" py="95"></div>

    <div class="planeta1 posicionar animated zoomIn delay0_6" px="420" py="180"></div>
    <div class="planeta2 posicionar animated zoomIn delay0_8" px="120" py="380"></div>
    <div class="planeta3 posicionar animated zoomIn delay1_0" px="1060" py="250"></div>
    <div class="planeta4 posicionar animated zoomIn delay1_2" px="1020" py="350"></div>


    <div class="baseMenu posicionar animated fadeIn delay1_0" px="0" py="85">
        <div class="img animated fadeInUp delay1_0"> </div>
    </div>




    <div class="itD item item4 posicionar animated fadeIn delay2_4" px="530" py="460" tela='menuG24'>
        <div class="indicador gold size40 animated fadeIn delay0_4">
            <i class="fas fa-hand-point-down animated infinite fadeInDown"></i>
        </div>
        <div class="check">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="speech-bubble">
            Sala Vip
        </div>
        <div class="hit"></div>
        <div class="animated fadeIn delay2_0">
            <div class="img"></div>
        </div>
    </div>

    <div class="itD item item5 posicionar animated fadeIn delay2_6" px="620" py="440" tela='menuG25'>
        <div class="indicador gold size40 animated fadeIn delay0_4">
            <i class="fas fa-hand-point-down animated infinite fadeInDown"></i>
        </div>
        <div class="check">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="speech-bubble">
            Free Parking Aeroporto
        </div>
        <div class="hit"></div>
        <div class="animated fadeIn delay2_0">
            <div class="img"></div>
        </div>
    </div>

    <div class="itD item item6 posicionar animated fadeIn delay2_8" px="710" py="430" tela='menuG26'>
        <div class="indicador gold size40 animated fadeIn delay0_4">
            <i class="fas fa-hand-point-down animated infinite fadeInDown"></i>
        </div>
        <div class="check">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="speech-bubble">
            Vallet Shopping Restaurantes
        </div>
        <div class="hit"></div>
        <div class="animated fadeIn delay2_0">
            <div class="img"></div>
        </div>
    </div>

    <div class="itD item item7 posicionar animated fadeIn delay3_0" px="800" py="440" tela='menuG27'>
        <div class="indicador gold size40 animated fadeIn delay0_4">
            <i class="fas fa-hand-point-down animated infinite fadeInDown"></i>
        </div>
        <div class="check">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="speech-bubble">
            Transfer Aeroporto
        </div>
        <div class="hit"></div>
        <div class="animated fadeIn delay2_0">
            <div class="img"></div>
        </div>
    </div>

    <div class="itD item item8 posicionar animated fadeIn delay3_2" px="890" py="480" tela='menuG28'>
        <div class="indicador gold size40 animated fadeIn delay0_4">
            <i class="fas fa-hand-point-down animated infinite fadeInDown"></i>
        </div>
        <div class="check">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="speech-bubble">
            Vallet Aeroporto de Congonhas
        </div>
        <div class="hit"></div>
        <div class="animated fadeIn delay2_0">
            <div class="img"></div>
        </div>
    </div>

    <div class="itD item item9 posicionar animated fadeIn delay3_4" px="980" py="540" tela='menuG29'>
        <div class="indicador gold size40 animated fadeIn delay0_4">
            <i class="fas fa-hand-point-down animated infinite fadeInDown"></i>
        </div>
        <div class="check">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="speech-bubble">
            Chip Viagem Internacional
        </div>
        <div class="hit"></div>
        <div class="animated fadeIn delay2_0">
            <div class="img"></div>
        </div>
    </div>

    <div class="itD item item10 posicionar animated fadeIn delay3_6" px="1070" py="590" tela='menuG210'>
        <div class="indicador gold size40 animated fadeIn delay0_4">
            <i class="fas fa-hand-point-down animated infinite fadeInDown"></i>
        </div>
        <div class="check">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="speech-bubble">
            Airport Companion
        </div>
        <div class="hit"></div>
        <div class="animated fadeIn delay2_0">
            <div class="img"></div>
        </div>
    </div>




    <div class="itD item item3 posicionar animated fadeIn delay2_2" px="440" py="500" tela='menuG23'>
        <div class="indicador gold size40 animated fadeIn delay0_4">
            <i class="fas fa-hand-point-down animated infinite fadeInDown"></i>
        </div>
        <div class="check">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="speech-bubble">
            Luxury Hotel
        </div>
        <div class="hit"></div>
        <div class="animated fadeIn delay2_0">
            <div class="img"></div>
        </div>
    </div>

    <div class="itD item item2 posicionar animated fadeIn delay2_0" px="350" py="540" tela='menuG22'>
        <div class="indicador gold size40 animated fadeIn delay0_4">
            <i class="fas fa-hand-point-down animated infinite fadeInDown"></i>
        </div>
        <div class="check">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="speech-bubble">
            Visa Concierge
        </div>
        <div class="hit"></div>
        <div class="animated fadeIn delay2_0">
            <div class="img"></div>
        </div>
    </div>

    <div class="itD item item1 posicionar animated fadeIn delay1_8" px="260" py="580" tela='menuG21'>
        <div class="indicador gold size40 animated fadeIn delay0_4">
            <i class="fas fa-hand-point-down animated infinite fadeInDown"></i>
        </div>
        <div class="check">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="speech-bubble">
            Digital Concierge
        </div>
        <div class="hit"></div>
        <div class="animated fadeIn delay2_0">
            <div class="img"></div>
        </div>
    </div>




    <div class="itD quiz posicionar animated fadeIn" px="1030" py="190" tela='quiz2'>
        <div class="indicador gold size40 animated fadeIn delay0_4">
            <i class="fas fa-hand-point-down animated infinite fadeInDown"></i>
        </div>
        <div class="quizB animated infinite pulse">
            <i class="fas fa-question"></i>
            <div class="xbold">Quiz</div> 
        </div>
    </div>




</div>