<script>
        window["aa169"] = {
            indice: "aa169",
            status: false
        }
    
        $("body").on('navegacaoComplete', function() {
    
            if ((course.config[course.indice].id).toUpperCase() == ("aa169").toUpperCase()) {
    
                var _tela = window[course.config[course.indice].id];
                var _containerTela = $(".container" + (_tela.indice).toUpperCase());
    
                //posiciona o elemento com base no tamanho real da imagem de fundo COVER
                _containerTela.find(".posicionar").positionCSS({
                    img_H: course.height,
                    img_W: course.width
                });
    
        
    
                if (_tela.status == false) {
                    _tela.status = true;
    
    
    
                } else {
    
                }
            }
        })
    </script>
    
    
    <div class="template4 containerAA169">
    
        <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85"> 
            <img src="includes/img/tela127.jpg" alt="">
        </div>
    
        <div class="texto posicionar branco animated fadeIn delay0_4" px="40" py="150">
            <div>
                <div class="tx animated fadeInRight delay0_4">
                    VISA MÉDICO ONLINE
                </div>
                <div class="size22 light pb10 animated fadeInRight delay0_6">
                    Acordou resfriado no meio das férias? Está com dor de 
                    cabeça e tem que participar de reuniões?<br><br>
                    Com Visa, é possível consultar médicos por vídeo conferência.

                </div>
            </div>
        </div>
        
    </div>