<script>
    window["aa121"] = {
        indice: "aa121",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa121").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });

    

            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="template5 containerAA121">

    <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85"> 
        <div class="baseTxt branco">
            <!-- <div class="tx t1">Sala Vip</div> -->
            <div class="tx2 t2">Regras Oficiais</div>
        </div>

    </div>

    <div class="texto posicionar animated fadeIn delay0_4 cinza2 size17" px="00" py="450">
        <div class="bloco blocoX">
            <ul>
                <li>
                    Cobertura válida (US$ 100 para Visa Cargo / US$ 1000 para Visa Corporate Infinite) 
                    mundialmente, inclusive no país de origem.
                </li>
                <li>
                    Ter efetuado o saque com o cartão de crédito comercial 
                    Visa emitido no Brasil, apresentar o Boletim de Ocorrência em 
                    até 24 horas do incidente e o extrato detalhado da conta 
                    bancária demonstrando o saque do valor.
                </li>
                <li>
                    Informações adicionais poderão ser solicitadas para 
                    concluir o processo de sinistro.
                </li>  
               
            </ul>
        </div>
       
    </div>
    
</div>