
/*= AA3
	----------------------------*/

  .containerAA4 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 99999999;
}

.containerAA4 .fundo{
  position: absolute;
  width: 1366px;
  height: 662px;
  /* border-radius: 10px; */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.containerAA4 .texto{
    position: absolute;
    width: 1000px;
    height: 600px;
    padding: 30px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 3px 6px 11px #00000057;
    border-radius: 20px;
    padding-top: 300px;

}

.containerAA4 .texto .img{
  position: absolute;
  width: 1000px;
  height: 250px;
  background: url(../../img/galaxi2.jpg) no-repeat top;
  background-size: cover;
  top: 0;
  left: 0;
}
