<script>
    window["aa40"] = {
        indice: "aa40",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa40").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });



            if (_tela.status == false) {
                _tela.status = true;

                _containerTela.find(".btnImportante").on('click', function() {
                    _containerTela.find(".pop").css('display', 'flex');
                });
                _containerTela.find(".closeX").on('click', function() {
                    _containerTela.find(".pop").css('display', 'none');
                });



            } else {

            }
        }
    })
</script>


<div class="template4 containerAA40">

    <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85">
        <img src="includes/img/tela34.jpg" alt="">
    </div>

    <div class="texto posicionar branco animated fadeIn delay0_4" px="40" py="150">
        <div>
            <div class="icoX">
                <div class="ico ico16 animated zoomIn delay0_4"></div>
            </div>
            <div class="tx animated fadeInRight delay0_4">
                Visa Concierge
            </div>
            <div class="size22 light pb10 animated fadeInRight delay0_6">
                Comprar os ingressos do show mais disputado da temporada. Agendar reuniões de emergência a qualquer momento. Reservar mesa no restaurante mais estrelado da cidade. Com Visa Concierge, o cliente dos cartões Visa Platinum e Visa Infinite tem à sua disposição,
                24 horas por dia x 7 dias por semana, um assistente pessoal para ajudá-lo nas mais diferentes demandas, sem custo adicional.
            </div>
            <div class="animated fadeIn delay1_0">
                <div class="btnImportante size30 animated infinite pulse"></div>
            </div>
            <!-- o txt esta no css -->
        </div>
    </div>

    <div class="pop posicionar animated fadeIn delay0_2" px="0" py="85">
        <div class="popInit size18 azulEscuro">
            <div class="baseClose">
                <div class="closeX">
                    <i class="far fa-times-circle size40 animated zoomIn delay1_2"></i>
                </div>
            </div>
            <div>
                O Programa Visa Concierge e Visa Digital Concierge são administrados pela Ten Serviços de Concierge do Brasil Ltda. e atenderão as solicitações conforme disponibilidade. Pedidos absurdos, inadequados ou que atentarem contra a moral, a ética ou a lei serão
                recusados. Estes programas são disponibilizados de forma gratuita para o portador, mas é de responsabilidade do portador dos Cartões Visa Platinum ou Visa Infinite arcar com os custos dos serviços e produtos comercializados por terceiros
                e buscados pelo portador por meio do Visa Concierge e Visa Digital Concierge, tais como diárias de hotel, passagens aéreas, ingressos para shows e eventos e entrega de documentos, bens e serviços.
            </div>
        </div>
    </div>

</div>