<div class="customBase">

		<div class="baseInContainer posicionar" px="0" py="0" > 
				
				<div class="baseHeader">
					<div class="logo animated fadeIn"></div>
					<div class="ti light size24 branco titulo1Base animated fadeIn">
						
					</div>
				</div>
				<div class="baseContent">
						<div class="content branco size36">
						
						</div>
				</div>

				<div class="baseFundo"></div>

		</div>

		<div class="btnFaqFundo posicionar" px="1090" py="10" >
			<div class="icoSet animated fadeIn branco size50">
				<div class="size20 bold mt3">FAQ</div>
			</div>	
		</div>

		<div class="btnMenuFundo posicionar" px="1160" py="10" >
			<div class="icoSet animated fadeIn branco size50">
				<div class="satelitetIcoX"></div>
			</div>	
		</div>

		<div class="navInitFundo">
			<div class="btnPrevFundo posicionar" px="1230" py="10" >
				<div class="icoSet branco size50">
					<i class="fas fa-angle-left"></i>
				</div>	
			</div>

			<div class="btnNextFundo posicionar" px="1300" py="10" >
				<div class="icoSet branco size50">
					<i class="fas fa-angle-right"></i>
				</div>	
			</div>
		</div>   
		
		<div class="navInit animated fadeIn delay0_2">

			<div class="btnFaq posicionar" px="1090" py="10" >
				<div class="icoSet animated fadeIn branco size50">
					<div class="size20 bold mt3">FAQ</div>
				</div>	
			</div>

			<div class="btnMenu posicionar" px="1160" py="10" tela='AA5' >
				<div class="icoSet animated fadeIn branco size50">
					<div class="satelitetIcoX"></div>
				</div>	
			</div>

			<div class="setaEsqBase btnPrev posicionar" px="1230" py="10" >
				<div class="icoSet animated fadeIn branco size50">
					<i class="fas fa-angle-left"></i>
				</div>	
			</div>

			<div class="setaDirBase btnNext posicionar" px="1300" py="10" >
				<div class="icoSet animated fadeIn branco size50">
					<i class="fas fa-angle-right"></i>
				</div>	
			</div>

		</div>   

		
	
</div> 