<div class="faq">


    <div class="faqFundo posicionar animated fadeIn delay0_2" px="0" py="0"> </div>

    <div class="titulo posicionar animated fadeIn delay0_2" px="60" py="80">
        <!-- <div class="logo"></div> -->
        <div class="bold size50 azul">
            FAQ
        </div>
    </div>



    <div class="closeFAQ size50 animated fadeIn delay1_2 posicionar" px="1260" py="80">
        <i class="far fa-times-circle"></i>
    </div>
    <div class="faqBase posicionar animated fadeIn delay0_2" px="60" py="150">

        <div class="step portalFAQ" step=1>
            <div class="tituloFAQ size50 bold">
                PORTAL DE BENEFÍCIOS
            </div>
            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Onde posso consultar os benefícios e seguros do meu cartão Visa?
                </div>
                <div class="respostaFAQ light size26">
                    No <span class="span bold"><a href="https://visabenefitslac.axa-assistance.us/?countryCode=MX&productCode=5" target="_blank">Portal de Benefícios</a></span>. Basta acessar o site, fazer o cadastro e clicar em Seus Cartões > Todos os
                    Benefícios.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Onde posso emitir os bilhetes dos seguros do meu cartão Visa?
                </div>
                <div class="respostaFAQ light size26">
                    No <span class="span bold"><a href="https://visabenefitslac.axa-assistance.us/?countryCode=MX&productCode=5" target="_blank">Portal de Benefícios</a></span>. Basta acessar o site, fazer o cadastro e clicar em Bilhete de Seguro > Gerar
                    Bilhetes.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Onde posso abrir um sinistro dos seguros do meu cartão Visa?
                </div>
                <div class="respostaFAQ light size26">
                    No <span class="span bold"><a href="https://visabenefitslac.axa-assistance.us/?countryCode=MX&productCode=5" target="_blank">Portal de Benefícios</a></span>. Basta acessar o site, fazer o cadastro e clicar em Sinistros > Gerar Sinistro.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Onde posso editar as informações do meu perfil?
                </div>
                <div class="respostaFAQ light size26">
                    Ao acessar o <span class="span bold"><a href="https://visabenefitslac.axa-assistance.us/?countryCode=MX&productCode=5" target="_blank">Portal de Benefícios</a></span>, você visualizará um quadro azul com seu nome. Clique nele e escolha
                    a opção Editar Perfil.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Como recuperar a senha de acesso do Portal de Benefícios?
                </div>
                <div class="respostaFAQ light size26">
                    Ao acessar o <span class="span bold"><a href="https://visabenefitslac.axa-assistance.us/?countryCode=MX&productCode=5" target="_blank">Portal de Benefícios</a></span>, você visualizará um quadro azul com seu nome. Localize o botão
                    ENTRAR, escolha a opção Esqueci a Senha e preencha os campos do sistema.
                </div>
            </div>

        </div>

        <div class="step comprasFAQ" step=2>
            <div class="tituloFAQ size50 bold">
                COMPRAS
            </div>
            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Quais benefícios de compras estão disponíveis no meu cartão?
                </div>
                <div class="respostaFAQ light size26">
                    Consulte a lista em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Os benefícios e seguros têm regras de utilização?
                </div>
                <div class="respostaFAQ light size26">
                    Sim. Consulte termos, condições, limitações e exclusões dos benefícios em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro de Proteção de Preço cobre diferenças de preço de qualquer produto?
                </div>
                <div class="respostaFAQ light size26">
                    Não. A lista de produtos elegíveis está disponível em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro de Proteção de Preço cobre qualquer diferença de preço?
                </div>
                <div class="respostaFAQ light size26">
                    Não. O reembolso é garantido em casos em que a diferença de preço é de mais de R$ 150,00.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro de Proteção de Preço considera preços de todas as lojas do mundo?
                </div>
                <div class="respostaFAQ light size26">
                    Sim, desde que o portador de cartão tenha cópias dos anúncios (impressos ou virtuais) e não use sites de leilão como referência. As lojas em questão devem estar dentro do mesmo país e respeitar o raio de 100 km do local em que o produto foi comprado.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Qual o prazo da cobertura do Seguro de Proteção de Preço?
                </div>
                <div class="respostaFAQ light size26">
                    Até 30 dias depois da data da compra. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro de Proteção de Compra cobre qualquer produto?
                </div>
                <div class="respostaFAQ light size26">
                    Não. Confira a lista completa em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Qual a vigência do Seguro por Proteção de Compra?
                </div>
                <div class="respostaFAQ light size26">
                    180 dias, contados a partir da data de compra do produto. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Eu preciso registrar o roubo do produto antes de solicitar o Seguro de Proteção de Compra?
                </div>
                <div class="respostaFAQ light size26">
                    Sim. O boletim de ocorrência deve ser apresentado até 24 horas depois do incidente. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.

                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Eu preciso fotografar o produto danificado antes de solicitar o Seguro de Proteção de Compra?
                </div>
                <div class="respostaFAQ light size26">
                    Sim. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro de Garantia Estendida Original oferece proteção extra por quanto tempo?
                </div>
                <div class="respostaFAQ light size26">
                    12 meses. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro de Garantia Estendida Original tem vigência máxima de quanto tempo?
                </div>
                <div class="respostaFAQ light size26">
                    Se a garantia original do fabricante/loja for de 3 anos, a garantia do seu produto chegará a 4 anos. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Quais são os prazos mínimos e máximos para o Garantia Estendida Original?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        O Seguro Garantia Estendida Original estende o período de garantia gratuitaoferecida por escrito pelo fornecedor/fabricante, dando aos produtos adquiridos a extensão da garantia original por igual período, limitado a 12 (doze) meses (veja a tabela abaixo).
                    </div>
                    <div class="listFAQ">

                        <div>
                            <div class="subTiFaq book azul">
                                Garantia do fabricante ou da loja
                            </div>
                            <div>• 03 meses</div>
                            <div>• 06 meses</div>
                            <div>• 12 meses</div>
                            <div>• 24 meses</div>
                            <div>• 30 meses</div>
                        </div>

                        <div>
                            <div class="subTiFaq book azul">
                                Garantia Estendida da Visa
                            </div>
                            <div>• 03 meses adicionais</div>
                            <div>• 06 meses adicionais</div>
                            <div>• 12 meses adicionais</div>
                            <div>• 12 meses adicionais</div>
                            <div>• 06 meses adicionais</div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <div class="step viagensFAQ" step=3>
            <div class="tituloFAQ size50 bold">
                VIAGEM - SAÚDE
            </div>
            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Quais benefícios de viagem - saúde estão disponíveis no meu cartão?
                </div>
                <div class="respostaFAQ light size26">
                    Consulte a lista em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Os benefícios e seguros têm regras de utilização?
                </div>
                <div class="respostaFAQ light size26">
                    Sim. Consulte termos, condições, limitações e exclusões dos benefícios em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro de Emergência Médica Internacional respeita o Tratado de Schengen?
                </div>
                <div class="respostaFAQ light size26">
                    Sim. A cobertura atende as regras mínimas estabelecidas pelo Tratado de Schengen. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Como funciona o Seguro de Emergência Médica Internacional?
                </div>
                <div class="respostaFAQ light size26">
                    Você pode solicitar assistência a um de nossos operadores pelo número 001-303-967-1098 ou buscar assistência por conta própria. Neste último caso, você precisará guardar os comprovantes dos gastos médicos para solicitar os reembolsos no Portal de Benefícios.
                    Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Visa Médico Online atende dentro e fora do Brasil?
                </div>
                <div class="respostaFAQ light size26">
                    Apenas fora do Brasil. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Como funciona o Visa Médico Online?
                </div>
                <div class="respostaFAQ light size26">
                    Você pode solicitar assistência através do Portal de Benefícios ou por meio do aplicativo Visa Médico Online (Avizia) nas lojas Google Play e AppStore. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Visa Médico Online agenda consultas e encaminha médicos a hotéis?
                </div>
                <div class="respostaFAQ light size26">
                    Não. O Visa Médico Online faz atendimentos exclusivamente remotos e está limitado a casos de baixa complexidade. Em casos mais sérios, confira o Seguro de Emergência Médica Internacional. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro Acidental em Viagens é válido apenas em viagens nacionais?
                </div>
                <div class="respostaFAQ light size26">
                    Não. Ele é válido em viagens nacionais e internacionais. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O que faz o Seguro Acidental em Viagens?
                </div>
                <div class="respostaFAQ light size26">
                    Garante cobertura em caso de morte acidental ou invalidez permanente, total ou parcial, por acidente pessoal durante viagens seguradas. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.

                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro de Morte ou Invalidez em Transporte Público Autorizado é válido apenas em viagens nacionais?
                </div>
                <div class="respostaFAQ light size26">
                    Não. Ele é válido em viagens nacionais e internacionais. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O que faz o Seguro de Morte ou Invalidez em Transporte Público Autorizado?
                </div>
                <div class="respostaFAQ light size26">
                    Garante cobertura por morte acidental ou invalidez permanente, total ou parcial, por acidente quando você está sob responsabilidade de uma empresa autorizada de transporte público. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="tituloFAQ size50 bold">
                VIAGEM - CONVENIÊNCIA
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Quais benefícios de viagem - conveniência estão disponíveis no meu cartão?
                </div>
                <div class="respostaFAQ light size26">
                    Consulte a lista em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                      www.visa.com.br/portaldebeneficios
                    </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Os benefícios e seguros têm regras de utilização?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        Sim. Consulte termos, condições, limitações e exclusões dos benefícios em
                        <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                          www.visa.com.br/portaldebeneficios
                        </a>.
                    </div>
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro para Veículos de Locadora cobre franquia?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        Caso não possa rejeitar os seguros de Indenização por Colisão (Collision Damage Waiver - CDW) ou qualquer cobertura semelhante oferecida pela empresa de aluguel de carros, a cobertura oferecida pela Visa será secundária, e, neste caso, cobrirá o valor
                        de franquia, bem como dos excedentes. Saiba mais em
                        <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                          www.visa.com.br/portaldebeneficios
                        </a>.
                    </div>
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Qual é o valor de cobertura oferecido pelo Seguro para Veículos de Locadora?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        O benefício oferece uma cobertura de até USD 90,000 para viagens internacionais ou R$ 297.000,00 para viagens nacionais e USD 303 / R$ 1.000,00, caso um produto comprado com o cartão Visa seja roubado ou furtado no veículo alugado. Saiba mais em
                        <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                          www.visa.com.br/portaldebeneficios
                        </a>.
                    </div>
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro para Atraso de Bagagem é ativado em qual situação?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        No caso em que a bagagem despachada não chegue ao destino pretendido indicado no bilhete.
                    </div>
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro de Atraso de Bagagem cobre todos os trechos da viagem?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        Sim, exceto o percurso até o local de residência. Saiba mais em
                        <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                          www.visa.com.br/portaldebeneficios
                        </a>.
                    </div>
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro por Perda e Roubo de Bagagem repara qualquer bagagem?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        Não. O seguro é restrito às bagagens consideradas irrecuperáveis - desde que elas estejam sob responsabilidade da companhia transportadora durante o imprevisto. Saiba mais em
                        <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                          www.visa.com.br/portaldebeneficios
                        </a>.
                    </div>
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro por Atraso de Embarque cobre qualquer tipo de atraso?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        Não. O benefício cobre os atrasos ocasionados por:<br> a) condições climáticas severas;<br> b) questões trabalhistas que atrapalhem a partida ou a chegada dos transportes aéreos, rodoviários ou marítimos;<br> c) quebras súbitas
                        no transporte aéreo, rodoviário ou marítimo. Saiba mais em
                        <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                          www.visa.com.br/portaldebeneficios
                        </a>.
                    </div>
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro Para Perda de Conexão Aérea é válido em qualquer situação?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        Não. O seguro é válido quando a perda da conexão é motivada por condições externas que fogem do controle do passageiro. Saiba mais em
                        <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                          www.visa.com.br/portaldebeneficios
                        </a>.
                    </div>
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Seguro por Cancelamento de Viagem cobre o cancelamento feito pela companhia transportadora?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        Não. O benefício cobre os atrasos ocasionados por:<br> Não. Apenas as seguintes situações:<br> a) Morte, acidente pessoal ou enfermidade grave da Pessoa Elegível;<br> b) Morte ou internação hospitalar do cônjuge, pais, irmãos ou
                        filhos da Pessoa Elegível;<br> c) Recebimento de notificação em juízo inadiável para a Pessoa Elegível comparecer perante a Justiça;<br> d) Declaração de uma autoridade sanitária competente deixando a Pessoa Elegível em quarentena.
                        Saiba mais em
                        <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                          www.visa.com.br/portaldebeneficios
                        </a>.
                    </div>
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O serviço de Cartão e Saque Emergencial é válido em casos de perda e roubo do cartão?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        Sim. Para saber a lista de países em que o serviço está disponível e as condições de uso, acesse
                        <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                          www.visa.com.br/portaldebeneficios
                        </a>.
                    </div>
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Serviço de Conveniência em Viagem emite documentos?
                </div>
                <div class="respostaFAQ light size26">
                    <div>
                        Não. O Serviço de Conveniência em Viagem esclarece dúvidas e presta informações importantes para você, tais como: localização de caixas eletrônicos, vacinas exigidas pelo país ou cidade-destino, mapas etc. Saiba mais em
                        <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                          www.visa.com.br/portaldebeneficios
                        </a>.
                    </div>
                </div>
            </div>

        </div>


        <div class="step lifestyleFAQ" step=4>
            <div class="tituloFAQ size50 bold">
                LIFESTYLE
            </div>
            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Quais benefícios do pilar lifestyle estão disponíveis no meu cartão?
                </div>
                <div class="respostaFAQ light size26">
                    Consulte a lista em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>
            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Os benefícios e seguros têm regras de utilização?
                </div>
                <div class="respostaFAQ light size26">
                    Sim. Consulte termos, condições, limitações e exclusões dos benefícios em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Visa Concierge tem custo adicional?
                </div>
                <div class="respostaFAQ light size26">
                    Não. O Visa Concierge é um serviço gratuito, disponível para portadores de cartão Visa Platinum e Visa Infinite. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Visa Concierge atende 24 horas por dia?
                </div>
                <div class="respostaFAQ light size26">
                    Sim. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Digital Concierge tem custo adicional?
                </div>
                <div class="respostaFAQ light size26">
                    Não. O Visa Concierge é um serviço gratuito, disponível para portadores de cartão Visa Platinum e Visa Infinite. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Digital Concierge atende 24 horas por dia?
                </div>
                <div class="respostaFAQ light size26">
                    Sim. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O que eu devo fazer para aproveitar as condições especiais do Visa Luxury Hotel Collection?
                </div>
                <div class="respostaFAQ light size26">
                    Pagar a estadia com cartões Visa Platinum ou Visa Infinite e contratar o serviço a partir do site do Visa Luxury Hotel Collection (
                    <a href="https://www.visaluxuryhotelcollection.com.br/" target="_blank">
                https://www.visaluxuryhotelcollection.com.br/
                </a> ). Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Visa Airport Companion está disponível em quais lojas de aplicativos?
                </div>
                <div class="respostaFAQ light size26">
                    Google Play e App Store. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Visa Valet Shoppings / Restaurantes está disponível em quais estabelecimentos?
                </div>
                <div class="respostaFAQ light size26">
                    Confira a lista de estabelecimentos e as condições de uso em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.

                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Como funciona o Free Valet Aeroporto? Ele é disponível para todos os portadores de cartão?
                </div>
                <div class="respostaFAQ light size26">
                    O Free Valet Aeroporto está disponível para os portadores de cartão Visa Infinite, que fazem uso do serviço e são reembolsados via cashback. Consulte as regras em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Free Parking Aeroporto está disponível em quais aeroportos?
                </div>
                <div class="respostaFAQ light size26">
                    Nos aeroportos de Recife, Rio de Janeiro (Santos Dumont) e Brasília. Confira a lista de aeroportos e as condições de uso em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Como funciona o Free Parking Aeroporto? Ele é disponível para todos os portadores de cartão?
                </div>
                <div class="respostaFAQ light size26">
                    O Free Parking Aeroporto está disponível para os portadores de cartão Visa Infinite, que fazem uso do serviço e são reembolsados via cashback. Consulte as regras em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Transfer Aeroporto está disponível em quais aeroportos?
                </div>
                <div class="respostaFAQ light size26">
                    Nos aeroportos internacionais de Guarulhos / SP, Rio de Janeiro / RJ e Brasília / DF. Confira a lista de aeroportos e as condições de uso em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Como funciona o Transfer Aeroporto? Ele é disponível para todos os portadores de cartão?
                </div>
                <div class="respostaFAQ light size26">
                    O Transfer Aeroporto está disponível para os portadores de cartão Visa Infinite, que recebem um voucher de 50% para contratar o serviço via Cabify. Consulte as regras em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Como é o passo a passo?
                </div>
                <div class="respostaFAQ light size26">
                    portador de cartão deve gerar o código de desconto no app Visa Airport Companion, inserir o código no Cabify e pagar com Visa. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Chip Viagem Internacional está disponível para portadores de cartão de todos os cartões?
                </div>
                <div class="respostaFAQ light size26">
                    Não. Apenas para os portadores de cartão Visa Infinite. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Chip de Viagem Internacional vem com quantos mega?
                </div>
                <div class="respostaFAQ light size26">
                    Ele vem pré-carregado com 100 MB. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O Chip Viagem Internacional é entregue em casa?
                </div>
                <div class="respostaFAQ light size26">
                    Não. Ele deve ser instalado no Terminal 3 do Aeroporto de Guarulhos. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Eu preciso guardar o meu chip para utilizar o Chip Viagem Internacional?
                </div>
                <div class="respostaFAQ light size26">
                    Não. O Chip Viagem Internacional é um adesivo que é colado sobre seu chip. A instalação deve ser feita no Terminal 3 do Aeroporto de Guarulhos. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Eu preciso guardar o meu chip para utilizar o Chip Viagem Internacional?
                </div>
                <div class="respostaFAQ light size26">
                    Não. O Chip Viagem Internacional é um adesivo que é colado sobre seu chip. A instalação deve ser feita no Terminal 3 do Aeroporto de Guarulhos. Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

        </div>

        <div class="step pjFAQ" step=5>
            <div class="tituloFAQ size50 bold">
                PJ
            </div>
            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Quais benefícios de PJ estão disponíveis no meu cartão?
                </div>
                <div class="respostaFAQ light size26">
                    Consulte a lista em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    Os benefícios e seguros têm regras de utilização?
                </div>
                <div class="respostaFAQ light size26">
                    Sim. Consulte termos, condições, limitações e exclusões dos benefícios em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O seguro de Roubo em Caixa Eletrônico está disponível para portadores de cartão pessoa física?
                </div>
                <div class="respostaFAQ light size26">
                    Não. Ele é uma exclusividade para os portadores de cartão Pessoa Jurídica (PJ). Saiba mais em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

            <div class="questionFAQ mt20">
                <div class="perguntaFAQ azul bold size30">
                    O seguro de Isenção de Responsabilidade Corporativa cobre qualquer irregularidade?
                </div>
                <div class="respostaFAQ light size26">
                    Não. As regras de uso estão disponíveis em
                    <a href="https://www.visa.com.br/portaldebeneficios" target="_blank">
                  www.visa.com.br/portaldebeneficios
                </a>.
                </div>
            </div>

        </div>

    </div>

</div>