<script>
        window["aa12"] = {
            indice: "aa12",
            status: false
        }
    
        $("body").on('navegacaoComplete', function() {
    
            if ((course.config[course.indice].id).toUpperCase() == ("aa12").toUpperCase()) {
    
                var _tela = window[course.config[course.indice].id];
                var _containerTela = $(".container" + (_tela.indice).toUpperCase());
    
                //posiciona o elemento com base no tamanho real da imagem de fundo COVER
                _containerTela.find(".posicionar").positionCSS({
                    img_H: course.height,
                    img_W: course.width
                });
    
        
    
                if (_tela.status == false) {
                    _tela.status = true;
    
    
    
                } else {
    
                }
            }
        })
    </script>
    
    
    <div class="template4 containerAA12">
    
        <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85"> 
            <img src="includes/img/tela12.jpg" alt="">
        </div>
    
        <div class="texto posicionar branco animated fadeIn delay0_4" px="140" py="150">
            <div>
                <div class="tx animated fadeInRight delay0_4">
                    PROTEÇÃO DE COMPRA
                </div>
                <div class="size22 light pb10 animated fadeInRight delay0_6">
                    Por mais cuidadosos que possamos ser, nunca estamos 
                    livres de imprevistos, aqui ou no exterior. É por isso que 
                    a Visa oferece aos clientes proteções em casos de roubo 
                    e acidentes. Seu celular pago com Visa caiu no chão? 
                    O conserto pode ser reembolsado. Seu relógio foi roubado? 
                    O valor da compra pode ser compensado. 
                    Existe companhia melhor para uma viagem?
                </div>
            </div>
        </div>
        
    </div>