<script>
        window["aa173"] = {
            indice: "aa173",
            status: false
        }
    
        $("body").on('navegacaoComplete', function() {
    
            if ((course.config[course.indice].id).toUpperCase() == ("aa173").toUpperCase()) {
    
                var _tela = window[course.config[course.indice].id];
                var _containerTela = $(".container" + (_tela.indice).toUpperCase());
    
                //posiciona o elemento com base no tamanho real da imagem de fundo COVER
                _containerTela.find(".posicionar").positionCSS({
                    img_H: course.height,
                    img_W: course.width
                });
    
    
    
                if (_tela.status == false) {
                    _tela.status = true;
    
                    
    
                } else {
    
                }
            }
        })
    </script>
    
    
    <div class="template3 containerAA173">
    
        <div class="leftCont posicionar animated fadeIn delay0_2" px="0" py="85">
            <div class="text1 branco">
                <div class="tx size40 animated fadeInUp delay0_4">
                    QUADRO DE REFERÊNCIA
                </div>
                <div class="sub1 size20 light animated fadeIn delay0_8">
                    Acordou resfriado no meio das férias? Está com dor 
                    de cabeça e a reunião vai começar daqui a 30 minutos? 
                    Com Visa, é possível consultar médicos por telefone 
                    ou vídeo conferência. Conveniência e praticidade, 
                    sem interromper nada da viagem.
                </div>
            </div>
        </div>
    
    
        <div class="cartaoBase posicionar animated fadeIn delay1_0" px="20" py='425'>
            <div class="azulEscuro ml20 mb2 size22">
                Disponível nos seguintes produtos:
            </div>
            <div class="cartaoD">
    
                <div class="carT">
                    <div class="cartao cartao1 animated zoomIn delay1_4">
                        <div class="img"></div>
                        <div class="color border_gold"></div>  
                    </div>
                    <div class="cartao cartao2 animated zoomIn delay1_5">
                        <div class="img"></div>
                        <div class="color border_platinum"></div>  
                    </div>
                    <div class="cartao cartao3 animated zoomIn delay1_6">
                        <div class="img"></div>
                        <div class="color border_infinit"></div>  
                    </div>
                </div>
    
    
                <div class="carT">
                    <div class="cartao cartao4 animated zoomIn delay1_7">
                        <div class="img"></div>
                        <div class="color border_debito"></div>  
                    </div>
                    <div class="cartao cartao5 animated zoomIn delay1_8">
                        <div class="img"></div>
                        <div class="color border_classic"></div>  
                    </div>
                    <div class="cartao cartao6 animated zoomIn delay1_9">
                        <div class="img"></div>
                        <div class="color border_pj"></div>  
                    </div>
                </div>
                
               
            </div>
    
        </div>
    
        <div class="tit posicionar animated fadeIn delay1_2 size20" px="682" py='105'>
            <div class="titulo azul size30 book">
                Mas, como eu vendo isso?
            </div>
        </div>
    
        <div class="baseRight posicionar animated fadeIn delay1_2 size17" px="652" py='85'>
            <div class="item1">
                <div class="ico1"></div>
                <span class="bold">Faça uma abordagem assertiva e direta:</span> 
                <span>
                    “Cliente Visa pode ter atendimento médico virtual para casos simples.”
                </span>
            </div>
            <div class="item2 size17 item2x">
                <div class="ico2"></div>
                <span class="bold">Explique com mais detalhes:</span> 
                <span class="">
                    “A solução de experiência digital para a assistência 
                    do Seguro de Emergência Médica Internacional. Em caso de 
                    emergência médica fora do seu país de residência, se 
                    seus sintomas forem de baixa complexidade e gravidade, 
                    você pode optar por ter uma consulta médica virtual, sem 
                    ter que ir fisicamente a um centro médico. Acesso 
                    24 horas por dia, 7 dias por semana Profissionais 
                    médicos certificados Conecte-se com qualquer 
                    dispositivo habilitado para vídeo."
                    <br>
                    <span class="size15">
                        *Para Android e Iphone necessário download do aplicativo.
                    </span>
                    
                </span>
            </div>
            <div class="item3">
                <div class="ico3 ico3x"></div>
                <span class="bold">Elabore com argumentos:</span>
                <span>
                    “Este benefício traz mais agilidade e segurança a 
                    quem viaja internacionalmente. Por quê? Os clientes têm 
                    acesso a atendimento de forma remota.”
                </span>
            </div>
            <div class="item4">
                <div class="ico4"></div>
                <span class="bold">Feche a venda:</span> 
                “O seu cartão atual ainda não possui esse benefício, 
                mas posso ver que você ficou interessado, acho que está 
                na hora de um upgrade!”’
            </div>
            
        </div>
    
    </div>