<script>
    window["aa160"] = {
        indice: "aa160",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa160").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });

            //
            _containerTela.find(".pop").css('display', 'none');
            if (_tela.status == false) {
                _tela.status = true;

                _containerTela.find(".btnTabela").on('click', function(){
                    _containerTela.find(".pop").css('display', 'flex');
                });
                _containerTela.find(".closeX").on('click', function(){
                    _containerTela.find(".pop").css('display', 'none');
                });

            } else {

            }
        }
    })
</script>


<div class="template5 containerAA160">

    <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85"> 
        <div class="baseTxt branco">
            <!-- <div class="tx t1">Sala Vip</div> -->
            <div class="tx2 t2">Regras Oficiais</div>
        </div>

    </div>

    <div class="texto posicionar animated fadeIn delay0_4 cinza2 size17" px="00" py="450">
        

        <div class="bloco bloco2">
            <ul>
                <li>
                    Pagamento da reserva do veículo deve ser 
                    100% paga com cartão Visa elegível.
                </li>
                <li>
                    Essa proteção cobre locações de até 31 dias de duração.
                </li>
                <li>
                    Cobertura válida mundialmente inclusive no país de origem.
                </li>
            </ul>
        </div>

        <div class="bloco bloco2">
            <ul>
                <li>
                    Prazo máximo para abertura de sinistro: 30 dias da data do acidente.
                </li>
                <li>
                    Cobertura para portador e todos os motoristas registrados 
                    no contrato de locação de veículo. Importância segurada para 
                    roubo e furto qualificado: até USD 303.
                </li>
               
            </ul>
        </div>

    </div>

    <div class="texto posicionar animated fadeIn delay0_4 cinza2 size20" px="50" py="650">
        <div class="comentario amarelo">
            <span class="bold">Atenção:</span> as coberturas deste seguro aplicam-se exclusivamente ao 
            veículo alugado. Não sendo estas extensíveis a terceiros.
        </div>
    </div>

    <div class="pop posicionar animated fadeIn delay0_2" px="0" py="85"> 
        <div class="baseClose">
            <div class="closeX">
                <i class="far fa-times-circle size40 animated zoomIn delay1_2"></i>
            </div>
        </div>
        <div class="tabela">
            <img src="includes/img/tabela130.png" alt="">
        </div>
    </div>
    
</div>