<script>
    window["aa4"] = {
        indice: "aa4",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa4").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });



            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="containerAA4">

    <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85"> </div>

    <div class="texto posicionar azul animated fadeIn delay0_4" px="175" py="114">
        <div class="img"></div>
        <div>
            <div class="tx animated fadeInRight delay0_4">
                SIM, TEM UM BENEFÍCIO CERTO PARA CADA UM,<br> PARA CADA MOMENTO...
            </div>
            <div class="size22 light animated fadeInRight delay0_6">
                A ideia é que você atue como embaixador dos nossos benefícios, levando soluções sob medida para cada cliente. Nada tem mais poder de convencimento do que o conhecimento. Por isso, queremos gerar ainda mais repertório para você.
                <br><br> Acreditamos que atuando em parceria, seremos capazes de espalhar os benefícios para todos, <br>com excelência.
            </div>
        </div>
    </div>


</div>