<script>
    window["aa70"] = {
        indice: "aa70",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa70").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });



            if (_tela.status == false) {
                _tela.status = true;

                _containerTela.find(".btnImportante").on('click', function() {
                    _containerTela.find(".pop").css('display', 'flex');
                });
                _containerTela.find(".closeX").on('click', function() {
                    _containerTela.find(".pop").css('display', 'none');
                });


            } else {

            }
        }
    })
</script>


<div class="template4 containerAA70">

    <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85">
        <img src="includes/img/tela34.jpg" alt="">
    </div>

    <div class="texto posicionar branco animated fadeIn delay0_4" px="40" py="150">
        <div>
            <div class="icoX">
                <div class="ico ico22 animated zoomIn delay0_4"></div>
            </div>
            <div class="tx animated fadeInRight delay0_4">
                Transfer Aeroporto
            </div>
            <div class="size22 light pb10 animated fadeInRight delay0_6">
                portador de cartão Visa tem reembolso de 50% nas viagens de Cabify para os aeroportos de Guarulhos, Rio de Janeiro (Galeão) e Brasília.
            </div>
            <div class="animated fadeIn delay1_0">
                <div class="btnImportante size30 animated infinite pulse"></div>
            </div>
        </div>
    </div>

    <div class="pop posicionar animated fadeIn delay0_2" px="0" py="85">
        <div class="popInit size18 azulEscuro">
            <div class="baseClose">
                <div class="closeX">
                    <i class="far fa-times-circle size40 animated zoomIn delay1_2"></i>
                </div>
            </div>
            <div>
                O serviço Transfer Aeroporto é prestado por Cabify e está sob sua responsabilidade. Consulte condições, vigências e exclusões em <a href="https://www.visa.com.br/transferaeroporto" target="_blank">www.visa.com.br/transferaeroporto</a>.
            </div>
        </div>
    </div>

</div>