<script>
        window["aa112"] = {
            indice: "aa112",
            status: false
        }
    
        $("body").on('navegacaoComplete', function() {
    
            if ((course.config[course.indice].id).toUpperCase() == ("aa112").toUpperCase()) {
    
                var _tela = window[course.config[course.indice].id];
                var _containerTela = $(".container" + (_tela.indice).toUpperCase());
    
                //posiciona o elemento com base no tamanho real da imagem de fundo COVER
                _containerTela.find(".posicionar").positionCSS({
                    img_H: course.height,
                    img_W: course.width
                });
    
        
    
                if (_tela.status == false) {
                    _tela.status = true;
    
    
    
                } else {
    
                }
            }
        })
    </script>
    
    
    <div class="template4 containerAA112">
    
        <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85"> 
            <img src="includes/img/tela100.jpg" alt="">
        </div>
    
        <div class="texto posicionar branco animated fadeIn delay0_4" px="40" py="150">
            <div>
                <div class="tx animated fadeInRight delay0_4">
                    SEGURO ACIDENTAL EM VIAGENS
                </div>
                <div class="size22 light pb10 animated fadeInRight delay0_6">
                    Quando estamos longe de casa queremos estar sempre protegidos e 
                    amparados, certo? É por isso que Visa garante indenizações em 
                    caso de morte acidental ou invalidez em viagens seguradas.
                </div>
            </div>
        </div>
        
    </div>