<script>
    window["aa2"] = {
        indice: "aa2",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa2").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });



            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="containerAA2">

    <div class="fundo posicionar animated fadeIn delay0_2" px="0" py="85"> </div>

    <div class="texto posicionar branco animated fadeIn delay0_4" px="140" py="150">
        <div>
            <div class="tx animated fadeInRight delay0_4">
                MUNDO DE BENEFÍCIOS Visa
            </div>
            <div class="size22 light pb10 animated fadeInRight delay0_6">
                Este treinamento é mais que uma ferramenta técnica.<br><br> Ele tem como objetivo formar especialistas no Mundo <br>de Benefícios.<br><br> Pessoas capazes de conversar, compartilhar e engajar os portadores de cartão a partir dos nossos
                diferenciais.
            </div>
        </div>
    </div>

</div>