<script>
    window["aa113"] = {
        indice: "aa113",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa113").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                img_H: course.height,
                img_W: course.width
            });



            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="template1b containerAA113">

    <div class="leftCont posicionar animated fadeIn delay0_2" px="0" py="85">
        <div class="text1">
            <div class="tx size50 branco animated fadeInUp delay0_4">
                <span class="book">DISPONÍVEL NOS</span><br> SEGUINTES PRODUTOS
            </div>
        </div>
    </div>


    <div class="rightCont posicionar animated fadeIn delay0_2" px="669" py="85">

        <div class="cartao">
            <div class="img"></div>
        </div>
        <!-- <div class="mt20 size22 bold azul">
                Os cartões para esse benefício são:
            </div> -->
        <div class="lista size28 azulEscuro">
            <ul>

                <li>
                    <span class="item">VISA CORPORATIVO INFINITE</span>
                </li>
                <li>
                    <span class="item">VISA EMPRESARIAL INFINITE</span>
                </li>
            </ul>

        </div>

    </div>

</div>